.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  place-items: start;
}

.titulo {
  grid-column: 1/-1;
}

.info {
  display: grid;
  gap: 20px;
  place-items: start;
}

/**estilos gerais**/

body {
  font-family: Arial;
  margin: 40px;
}

h1 {
  margin: 0px;
  font-size: 48px;
  line-height: 1;
}

p {
  margin: 0px;
  font-size: 20px;
}

span {
  font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}
.comprar {
  display: inline-block;
  padding: 10px 20px;
  background: #a8f;
  color: #103;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
}

.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}
